Blog from Kdnuggets on to select subsets of data in Pandas using [], .loc, .iloc, .at, and .iat using the wine quality dataset hosted on the UCI website. This data record 11 chemical properties (such as the concentrations of sugar, citric acid, alcohol, pH etc.) of thousands of red and white wines from northern Portugal, as well as the quality of the wines, recorded on a scale from 1 to 10. We will only look at the data for red wine.

In [2]:
import pandas as pd

In [3]:
wine_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')

In [4]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
wine_df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

We see that many columns names have empty space. Lets rename all of those.

In [6]:
wine_df.columns = ['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide','density','pH','sulphates', 'alcohol', 'quality' ]

In [7]:
wine_df['fixed_acidity'].head() # recommended way

0     7.4
1     7.8
2     7.8
3    11.2
4     7.4
Name: fixed_acidity, dtype: float64

In [8]:
wine_df.fixed_acidity.head() # not so good way

0     7.4
1     7.8
2     7.8
3    11.2
4     7.4
Name: fixed_acidity, dtype: float64

# Selecting multiple columns

In [9]:
wine_four = wine_df[['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar']]

In [10]:
cols = ['fixed_acidity', 'volatile_acidity','citric_acid', 'residual_sugar']
wine_list_four = wine_four[cols]

In [11]:
wine_list_four.head()

   fixed_acidity  volatile_acidity  citric_acid  residual_sugar
0            7.4              0.70         0.00             1.9
1            7.8              0.88         0.00             2.6
2            7.8              0.76         0.04             2.3
3           11.2              0.28         0.56             1.9
4            7.4              0.70         0.00             1.9

# Selecting columns using "select_dtypes" and "filter" methods

In [12]:
wine_df.dtypes.value_counts()

float64    11
int64       1
dtype: int64

In [13]:
wine_df.select_dtypes(include=['float']).head() #To select only the float columns

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

You can also use the **filter** method to select columns based on the column names or index labels.

In [14]:
wine_df.filter(like='acid').head()

   fixed_acidity  volatile_acidity  citric_acid
0            7.4              0.70         0.00
1            7.8              0.88         0.00
2            7.8              0.76         0.04
3           11.2              0.28         0.56
4            7.4              0.70         0.00

You can use regular expressions with the **regex** parameter in the filter method.

In [15]:
wine_df.rename(columns={'pH':'pH_5', 'quality': 'quality_6' }, inplace=True)
#rename 'ph' and 'quality' columns
wine_df.filter(regex='\d').head()
#pass the regex param to the filter method to find all the columns
#that has a number

   pH_5  quality_6
0  3.51          5
1  3.20          5
2  3.26          5
3  3.16          6
4  3.51          5

# Changing the order of your columns

1. wine_df.columns shows all the column names. 
2. organize the names of my columns into three list variables, and concatenate all these variables to get the final column order.

In [16]:
wine_df.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH_5', 'sulphates', 'alcohol', 'quality_6'],
      dtype='object')

In [17]:
group_1 = ['pH_5','sulphates','alcohol', 'quality_6']
group_2 =['chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density']
group_3 = ['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar']

In [18]:
new_cols=group_1+group_2+group_3

3. use the Set module to check if **new_cols** contains all the columns from the original.

In [19]:
set(wine_df.columns)==set(new_cols)

True

 4. store the resulting DataFrame in a variable "wine_df_2" . Now, the wine_df_2 DataFrame has the columns in the wanted order.

In [20]:
wine_df_2 = wine_df[new_cols]

In [21]:
wine_df_2.head()

,pH_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
0,3.51,0.56,9.4,5,0.076,11.0,34.0,0.9978,7.4,0.70,0.00,1.9
1,3.20,0.68,9.8,5,0.098,25.0,67.0,0.9968,7.8,0.88,0.00,2.6
2,3.26,0.65,9.8,5,0.092,15.0,54.0,0.9970,7.8,0.76,0.04,2.3
3,3.16,0.58,9.8,6,0.075,17.0,60.0,0.9980,11.2,0.28,0.56,1.9
4,3.51,0.56,9.4,5,0.076,11.0,34.0,0.9978,7.4,0.70,0.00,1.9

# Selecting rows using .iloc and loc

To illustrate this concept better, we remove all the duplicate rows from the "density" column and change the index of wine_df DataFrame to 'density'.

In [22]:
wine_df.nunique()

fixed_acidity            96
volatile_acidity        143
citric_acid              80
residual_sugar           91
chlorides               153
free_sulfur_dioxide      60
total_sulfur_dioxide    144
density                 436
pH_5                     89
sulphates                96
alcohol                  65
quality_6                 6
dtype: int64

In [23]:
wine_df = wine_df.drop_duplicates(subset='density')

In [24]:
wine_df.shape # #436 unique values in the density column

(436, 12)

In [25]:
wine_df.set_index('density', inplace=True)

In [26]:
wine_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9978,7.4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,5
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6
0.9964,7.9,0.60,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5

To select the **third row** in wine_df DataFrame, we pass number 2 to the .iloc indexer.

In [27]:
wine_df.iloc[2]

fixed_acidity            7.800
volatile_acidity         0.760
citric_acid              0.040
residual_sugar           2.300
chlorides                0.092
free_sulfur_dioxide     15.000
total_sulfur_dioxide    54.000
pH_5                     3.260
sulphates                0.650
alcohol                  9.800
quality_6                5.000
Name: 0.997, dtype: float64

To do the same thing, I use the .loc indexer.

In [28]:
wine_df.loc[.9968]

fixed_acidity            7.800
volatile_acidity         0.880
citric_acid              0.000
residual_sugar           2.600
chlorides                0.098
free_sulfur_dioxide     25.000
total_sulfur_dioxide    67.000
pH_5                     3.200
sulphates                0.680
alcohol                  9.800
quality_6                5.000
Name: 0.9968, dtype: float64

To select rows with different index positions, pass a list to the .iloc indexer.

In [29]:
row_list = [1,4,7]
wine_df.iloc[row_list]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9968,7.8,0.880,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9964,7.9,0.600,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5
0.9943,5.6,0.615,0.00,1.6,0.089,16.0,59.0,3.58,0.52,9.9,5

Same we can do with a list of density.

In [30]:
rows = [0.9968, 0.9964, 0.9943]
wine_df.loc[rows]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9968,7.8,0.880,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9964,7.9,0.600,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5
0.9943,5.6,0.615,0.00,1.6,0.089,16.0,59.0,3.58,0.52,9.9,5

Use slicing to select multiple rows . This is similar to slicing a list in Python. Lets select rows 2, 3 and 4

In [31]:
wine_df.iloc[1:4]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6

Same we can do this with loc

In [32]:
first = 0.9970
last = 0.9959
wine_df.loc[first:last]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6
0.9964,7.9,0.60,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5
0.9946,7.3,0.65,0.00,1.2,0.065,15.0,21.0,3.39,0.47,10.0,7
0.9959,6.7,0.58,0.08,1.8,0.097,15.0,65.0,3.28,0.54,9.2,5

# Selecting rows and columns simultaneously

Pass parameters for both row and column inside the .iloc and loc indexers to select rows and columns simultaneously. The rows and column values may be scalar values, lists, slice objects or boolean.

In [33]:
wine_df.iloc[:, [3,4,6]].head() # Select all the rows, and 4th, 5th and 7th column:

         residual_sugar  chlorides  total_sulfur_dioxide
density
0.9978              1.9      0.076                  34.0
0.9968              2.6      0.098                  67.0
0.9970              2.3      0.092                  54.0
0.9980              1.9      0.075                  60.0
0.9964              1.6      0.069                  59.0

We can also pass a list of column names to the **loc** indexer and obtain the same result as above

In [34]:
wine_df.loc[:,['residual_sugar','chlorides','total_sulfur_dioxide']].head()

         residual_sugar  chlorides  total_sulfur_dioxide
density
0.9978              1.9      0.076                  34.0
0.9968              2.6      0.098                  67.0
0.9970              2.3      0.092                  54.0
0.9980              1.9      0.075                  60.0
0.9964              1.6      0.069                  59.0

# Selecting disjointed rows and columns 

To select a particular number of rows and columns, you can do the following using .iloc.

In [35]:
wine_df.iloc[[10,14], [7, 9]]
#  left of the comma always selects rows based on the row index, and parameters to the right of the comma always 
#  selects columns based on the column index.

         pH_5  alcohol
density
0.9969   3.30     10.5
0.9962   3.28      9.5

**left of the comma always selects rows based on the row index, and parameters to the right of the comma always selects columns based on the column index.**

In [36]:
rows = [0.9969, 0.9962]
columns = ['pH_5', 'alcohol']
wine_df.loc[rows,columns] # same with loc

         pH_5  alcohol
density
0.9969   3.30     10.5
0.9962   3.28      9.5

In [37]:
wine_df.loc[0.9970, 'chlorides']

0.092

In [38]:
wine_df.iloc[2,4]

0.092

In [39]:
wine_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9978,7.4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,5
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6
0.9964,7.9,0.60,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5

You can use slicing to select a particular column.  
[start:end:steps]

In [40]:
wine_df.iloc[8:2:-2, 2]

density
0.9974    0.29
0.9959    0.08
0.9964    0.06
Name: citric_acid, dtype: float64

In [41]:
first = 0.9974
second = 0.9964

wine_df.loc[first:second:-2, 'citric_acid']

density
0.9974    0.29
0.9959    0.08
0.9964    0.06
Name: citric_acid, dtype: float64

# Selecting rows and columns using get_loc and index methods

In [42]:
wine_df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9978,7.4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,5
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6
0.9964,7.9,0.60,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5

# Selecting rows and columns using "get_loc" and "index" methods

- get_loc  method: find the integer position of the column

In [43]:
col_start = wine_df.columns.get_loc('volatile_acidity')
col_end = wine_df.columns.get_loc('volatile_acidity')+3 
# 3 columns more to the right, 
col_start, col_end

(1, 4)

Use the iloc method to select the first 4 rows, and col_start and col_endcolumns.   
**If you pass an index label to the get_loc method, it returns its integer location.**

In [45]:
wine_df.iloc[:4, col_start:col_end]

         volatile_acidity  citric_acid  residual_sugar
density
0.9978               0.70         0.00             1.9
0.9968               0.88         0.00             2.6
0.9970               0.76         0.04             2.3
0.9980               0.28         0.56             1.9

In [48]:
row_start = wine_df.index[4]
row_end = wine_df.index[7]

In [51]:
print("Row at index 4: {} and row at index 7: {}".format(row_start,row_end))

Row at index 4: 0.9964 and row at index 7: 0.9943

In [54]:
wine_df.loc[row_start: row_end, 'volatile_acidity':'chlorides']

         volatile_acidity  citric_acid  residual_sugar  chlorides
density
0.9964              0.600         0.06             1.6      0.069
0.9946              0.650         0.00             1.2      0.065
0.9959              0.580         0.08             1.8      0.097
0.9943              0.615         0.00             1.6      0.089

In [56]:
density_val = 0.9980
wine_df.loc[density_val, 'citric_acid']

0.56

# Subselection using .iat and at  
Indexers, .iat and .at, are much more faster than .iloc and .loc for selecting a single element from a DataFrame.

In [57]:
wine_df.at[density_val, 'citric_acid']

0.56

The %timeit magic command to find the difference in speed:

In [58]:
timeit wine_df.loc[density_val, 'citric_acid']

13.8 µs ± 129 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [59]:
timeit wine_df.at[density_val, 'citric_acid']

8.52 µs ± 57.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [60]:
row_num = wine_df.index.get_loc(density_val)
col_num = wine_df.columns.get_loc('citric_acid')
row_num,col_num

(3, 2)

In [61]:
timeit wine_df.iloc[row_num, col_num]

15.2 µs ± 99.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [62]:
timeit wine_df.iat[row_num, col_num]

10 µs ± 59.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)