In [2]:
from sklearn.datasets import load_iris
import pandas as pd
iris_dataset = load_iris()

In [2]:
print("Keys \n{}".format(iris_dataset.keys()))

Keys
dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [2]:
A=[1,2,3]

for a in A:

  print(2*a)

2
4
6

In [3]:
x=0
while(x<2):
  print(x)
  x=x+1

0
1

In [4]:
for i,x in enumerate(['A','B','C']):
    print(i,2*x)

0 AA
1 BB
2 CC

In [5]:
for i in range(1,5):
    if (i!=2):
        print(i)

1
3
4

In [7]:
A.append([5,6,7])

In [8]:
A

[1, 2, 3, [5, 6, 7]]

In [9]:
B = [1,2,3,4,5,6,7]

In [10]:
B[:3]

[1, 2, 3]

In [11]:
B[3:]

[4, 5, 6, 7]

In [6]:
df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]}, index=['falcon', 'dog'])

In [7]:
df

        num_legs  num_wings
falcon         2          2
dog            4          0

1. To select rows whose column value equals a scalar, some_value, use **==**
2. To select rows whose column value is in an iterable, some_values, use **isin(values)** Whether each element in the DataFrame is contained in values.
3. Combine multiple conditions with &:

In [ ]:
df.isin